body
{
	margin: 0;
	padding: 0;
	color: #555;
	/*font: normal 10pt Arial,Helvetica,sans-serif;*/
	background: #DDF;
	/*FILTER:progid:DXImageTransform.Microsoft.Alpha(opacity=95);
	*FILTER: Alpha(opacity=95);
	-o-opacity: 0.95;
	-ms-opacity: 0.95;
	-moz-opacity: 0.95;
	-khtml-opacity: 0.95;
	-webkit-opacity: 0.95;
	opacity: 0.95;*/
	font: normal 100% "Microsoft YaHei", "微软雅黑", "黑体", "宋体",Arial,Helvetica,sans-serif;
}
@media only screen and (min-width:1000px) {
	html{
		font-size: 87.5%;
	}
}

#page
{
	/* margin-top: 5px; */
	margin-bottom: 5px;
	background: white;
	border: 1px solid #C9E0ED;
}

#header
{
	margin: 0;
	padding: 0;
	/* border-top: 3px solid #C9E0ED; */
}

#content
{
    padding: 20px 20px 20px 0;
}

.narrowPage
{
	/*  */
	margin: 0 auto;
	*width: 700px;
	*margin: 0 0 0 125px;
	display:table;
}

#sidebar
{
	padding: 20px 20px 20px 0;
}

#footer
{
	padding: 10px;
	margin: 10px 20px;
	font-size: 0.8em;
	text-align: center;
	border-top: 1px solid #C9E0ED;
}

#logo
{
	/* padding: 10px 20px;
	font-size: 200%;
	padding-bottom: 100px;
	font-size: 42px; font-weight: bold; color: #444444;
	letter-spacing:35px;
	text-align: center;
	background: #c1eafe url('logo.jpg') bottom center no-repeat;
	background-size: 80%; */
	text-indent: -9999px;
	margin: 0;
	height: 106px;
	background: #c1eafe url('header.jpg') center no-repeat;
}

#mainmenu
{
	/* background:white url(bg.gif) repeat left top; */
	background: #E0E0E0;
}

#mainmenu ul
{
	/* padding:6px 20px 5px 20px; */
	margin: 0; padding: 0;
	text-align: center;
}

#mainmenu ul li
{
	/* display: inline; */
	display: inline-block;
	padding: 0; margin: 0 0 0 -4px;
	text-align: center;
}

#mainmenu ul li a
{
	/* color:#ffffff; */
	color: #333;
	display: inline-block;
	background-color:transparent;
	font-size: 100%;/*font-size:12px;*/
	/* font-weight:bold; */
	text-decoration:none;
	padding: 14px 12px;
	padding: 1em 0.9em;
	margin: 0;
	letter-spacing:1px;
	border-right: 1px solid #F4F4F4;
}

#mainmenu ul li:hover, #mainmenu ul li.active
{
	/* background-color:#EFF4FA; */
}
#mainmenu ul li a:hover, #mainmenu ul li.active a
{
	/* color: #6399cd; */
	text-decoration:none;
	color: #fff;
	background: #19B4EA;
}

div.flash-error, div.flash-notice, div.flash-success
{
	padding:.8em;
	margin-bottom:1em;
	border:2px solid #ddd;
}

div.flash-error
{
	background:#FBE3E4;
	color:#8a1f11;
	border-color:#FBC2C4;
}

div.flash-notice
{
	background:#FFF6BF;
	color:#514721;
	border-color:#FFD324;
}

div.flash-success
{
	background:#E6EFC2;
	color:#264409;
	border-color:#C6D880;
}

div.flash-error a
{
	color:#8a1f11;
}

div.flash-notice a
{
	color:#514721;
}

div.flash-success a
{
	color:#264409;
}

div.form .rememberMe label
{
	display: inline;
}

div.view
{
	padding: 10px;
	margin: 10px 0;
	border: 1px solid #C9E0ED;
}

div.breadcrumbs
{
	font-size: 0.9em;
	padding: 5px 20px;
}

div.breadcrumbs span
{
	font-weight: bold;
}

div.search-form
{
	padding: 10px;
	margin: 10px 0;
	background: #eee;
}

.portlet
{

}

.portlet-decoration
{
	padding: 3px 8px;
	background: #B7D6E7;
	border-left: 5px solid #6FACCF;
}

.portlet-title
{
	/* font-size: 12px; */
	font-size: 16px;
	font-weight: bold;
	padding: 0;
	margin: 0;
	color: #298dcd;
}

.portlet-content
{
	font-size:0.9em;
	margin: 0 0 15px 0;
	padding: 5px 8px;
	background:#EFFDFF;
}

.portlet-content ul
{
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin: 0;
	padding: 0;
}

.portlet-content li
{
	padding: 2px 0 4px 0px;
}

.operations
{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.operations li
{
	padding-bottom: 2px;
}

.operations li a
{
	/* font: bold 12px Arial; */
	font: normal 13px/18px;
	color: #0066A4;
	display: block;
	padding: 2px 0 2px 8px;
	/* line-height: 15px; */
	line-height: 18px;
	text-decoration: none;
}

.operations li a:visited
{
	color: #0066A4;
}

.operations li a:hover
{
	background: #80CFFF;
}
#content h2{
	text-align: center;
}